<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCanvas</title>
    <link rel="stylesheet" href="/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="head">
                <img src="background.png" class="bg">


                <p class="p1">Home</p>
                <p class="p2">About us</p>
                <button class="signup">Sign up</button>
                <button class="login">Login</button>
            </div>
            <section class="main">
                <h1 class="cc">CodeCanvas</h1>
                <div class="buttons">
                    <button class="learn">//Learn
                        <span class="content1"> 
                            <p class="in-learn">Click here to master DSA essentials with our comprehensive learning resources from basics to advanced problem solving techniques.</p>    
                        </span>
                    </button>
                    <button class="prac">#Practice
                        <span class="content2">
                            <p class="in-prac">Click here to solidify DSA concepts through interactive practice quizzes covering diverse topics for comprehensive practice.</p>
                        </span>
                    </button>
                    <button class="test">Test{ }
                        <span class="content3">
                            <p class="in-test">Click here to prepare for interviews with tailored coding questions spanning different difficulty levels and DSA topics."</p>
                        </span>
                    </button>
                </div>
            </section>
        </div>
    </div>
    <script src="/app.js"></script>
</body>


</html>

