<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    <link rel="stylesheet" href="mainquiz.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans 3' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <nav class="navbar" >
                <a class="navbar-brand" href="#">
                    <img src="/media/logocc.jpg" width="30" height="30" class="logo" alt="">
                   
                </a>
                <p class="nav-title">CodeCanvas</p>
               
                <form class="form-inline">
                  <input class="search" type="search" placeholder="Search" aria-label="Search">
                    <i class="fa fa-search" style="font-size:25px"></i>              
                </form>
              </nav>
            <div class="head">
                <h1 class="topic">Topics</h1>
            </div>
            <section class="main">
                <ul class="topicslist">
                    <li class="arr">
                        <button class="arr-btn"><a href="practice/array" class="arrh"><p class="arrh">Array</p></a></button>
                        
                    </li>
                    <br>
                    <li class="ll">
                        <button class="ll-btn"><a href="practice/linkedlist" class="llh"><p class="llh">Linked List</p></a></button>
                        
                    </li>
                    <br>
                    <li class="sor">
                        <button class="sor-btn"><p class="sorh">Sorting</p></button>
                        <div class="sor-content">
                            <a href="learn/bubblesort">Bubble Sort</a>
                            <a href="learn/selectionsort">Selection Sort</a>
                            <a href="learn/insertionsort">Insertion Sort</a>
                            <a href="learn/mergesort">Merge Sort</a>
                            <a href="learn/quicksort">Quick Sort</a>
                        </div>
                    </li>
                    <br>
                    <li class="sear">
                        <button class="sear-btn"><p class="searh">Searching</p></button>
                        <div class="sear-content">
                            <a href="learn/searchlinear">Linear Search</a>
                            <a href="learn/searchbinary">Binary Search</a>
                        </div>
                    </li>
                    <br>
                    <li class="st">
                        <button class="st-btn"><p class="sth">Stack</p></button>
                    </li>
                    <br>
                    <li class="qu"><button class="qu-btn"><p class="quh">Queue</p></button>
                    </li>
                    <br>
                    <li class="bt">
                        <button class="bt-btn"><a href="practice/binarytree" class="bth"><p class="bth">Binary Tree</p></a></button>
                        
                    </li>
                    <br>
                    <li class="bst">
                        <button class="bst-btn"><p class="bsth">Binary Search Tree</p></button>
                        <div class="bst-content">
                            <a href="learn/binarysearchtreeinsertion">Insertion</a>
                            <a href="learn/binarysearchtreedeletion">Deletion</a>
                        </div>
                    </li>
                    <br>
                    <li class="gr">
                        <button class="gr-btn"><p class="grh">Graphs</p></button>
                        <div class="gr-content">
                            <a href="learn/graphbfs">BFS</a>
                            <a href="learn/graphdfs">DFS</a>
                            <a href="learn/graphtopological">Topological Sort</a>
                        </div>
                    </li>
                    
                    <br>
                    <li class="alg">
                        <button class="alg-btn"><p class="algh">Algorithms</p></button>
                        <div class="alg-content">
                            <a href="learn/algoprims">Prim's Algorithm</a>
                            <a href="learn/algokruskal">Kruskal Algorithm</a>
                            <a href="learn/algodjikstra">Dijkstra Algorithm</a>
                            <a href="learn/algobellman">Bellman Ford Algorithm</a>
                            <a href="learn/algokosaraju">Kosaraju Algorithm</a>
                        </div>
                    </li>
                    
                </ul>
                
            </section>
            
        </div>
    </div>
</body>
</html>