<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/quiz.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='https://fonts.googleapis.com/css?family=Source Sans 3' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar" >
        <a class="navbar-brand" href="#">
            <img src="/media/logocc.jpg" width="30" height="30" class="logo" alt="">
           
        </a>
        <p class="nav-title">CodeCanvas</p>
       
        <form class="form-inline">
          <input class="search" type="search" placeholder="Search" aria-label="Search">
            <i class="fa fa-search" style="font-size:25px"></i>              
        </form>
      </nav>
    <div class="app">
        <h1>Linked List</h1>
        <div class="quiz">
            <h2 id="question">question goes here </h2>
            <div id="answer-buttons">
                <div class="btn">Ans 1</div>
                <div class="btn">Ans 2</div>
                <div class="btn">Ans 3</div>
                <div class="btn">Ans 4</div>
            </div>
            <button id="next-btn">Next</button>
        </div>
    </div>
    
<script src="/quizlinkedlist.js"></script>
</body>
</html>