/* styles.css */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin-left: -20px;
  }
  
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  /* Change background on mouse-over */
  .navbar a:hover {
    color: black;
  }
  
  
  /* Main content */
  .main {
    margin-top: 32px; /* Add a top margin to avoid content overlay */
  }
  
  
  .content{
    margin-top: 100px;
  }
  
  
  .nav-title{
    margin-top: 11px;
    margin-bottom: -20px;
    font-size: 38px;
    color: white;
    display: flex;
  }
  
  
  .logo{
    height: 50px;
    width: 50px;
  }
  
  
  .form-inline{
    margin-left: 1280px;
    margin-top: -50px;
    padding-bottom: 20px;
  }
  
  
  .search{
    height: 33px;
    width: 220px;
    margin-left: -150px;
  }
  
  
  .fa-search{
    color: white;
    margin-left: 8px;
  }

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: black;
    color: white;
}

.dropdown-container {
    margin: 20px 0;
}

select {
    margin: 10px;
    padding: 8px 12px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px white;
}

#output {
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
}

#question{
  font-size: 20px;
}

.seltop{
    margin-left: 100px;
}

.seldiff{
    margin-left: 150px;
}

.gen{
    margin-left: 150px
}

.ques-comp{
  display: flex;
  gap: 5px;
}

.compiler{
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    margin-top: -2px;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    background-color: #333333;
    font-family: "Lucida Console", Monaco, monospace;
    width: 625px;
    height: 475px;
    overflow-y: scroll;
    /*scrollbar-color: rgb(216, 125, 216) rgb(113, 36, 123);*/
  
}

.ques{
  font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    margin-top: -2px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    width: 825px;
    height: 475px;
    /*scrollbar-color: rgb(216, 125, 216) rgb(113, 36, 123);*/
}

.comp-color{
  background-color: black;
}
